<main >
    <div class="row">
        <div class="pt-2 col-6">
            <H1 class=" explicacion ">
                Esta es una Pagina web desarollada en angular 
            </H1>
        </div>
        <div class="ps-2 col-6">
            <H1 class="mt-3 p-5">
                Bienvenido a JSocial 
            </H1>
        </div>
    </div>
</main>
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
               
                <div class="col-sm-4 col-md-3 item">
                    <h3>Contacto</h3>
                    <ul>
                        <li> <p>Javierluciano12345@gmail.com</p></li>
                        <li>
                            <P>CEL: +1 849-915-5724</P>
                        </li>
                       
                    </ul>
                </div>
              
                <div class="col-lg-3 item social">
                    <a href="https://github.com/javier1292"><img src="../../../assets/imagenes/github.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/junior-javier-garcia-luciano-252a76173"><img src="../../../assets/imagenes/linkedin (1).png" alt=""></a>

                    <p class="copyright">Junior Javier Garcia Luciano © 2022</p>
                </div>
            </div>
        </div>
    </footer>
</div>