  <div class="container">
        <a class="titulo">
            <img src="../assets/imagenes/redes.png" alt="">
            <label for="">JSocial</label>
        </a>
        <div class="content">

            <label for="Nombre">Nombre de usuario</label>
            <div class="formG">
                <input type="text" name="username" id="username" placeholder=" ">
            </div>
            <br>
            <label for="Contraseña">Contraseña</label>
            <div class="formG">
                <input type="password" name="password" id="password" placeholder=" ">
            </div>
            <br>
            <a href="">A olvidado su Contraseña</a>
            <br>
            
            <input class="btn" type="button" value="ENTRAR" id="submit" />

        </div>
    </div>